<h1>Listing shift_assignments</h1>

<table>
  <thead>
    <tr>
      <th>Start datetime</th>
      <th>End datetime</th>
      <th>Employee</th>
      <th>Is absence</th>
      <th>Is confirmed</th>
      <th>Shift</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_assignments.each do |shift_assignment| %>
      <tr>
        <td><%= shift_assignment.start_datetime %></td>
        <td><%= shift_assignment.end_datetime %></td>
        <td><%= shift_assignment.employee_id %></td>
        <td><%= shift_assignment.is_absence %></td>
        <td><%= shift_assignment.is_confirmed %></td>
        <td><%= shift_assignment.shift_id %></td>
        <td><%= link_to 'Show', shift_assignment %></td>
        <td><%= link_to 'Edit', edit_shift_assignment_path(shift_assignment) %></td>
        <td><%= link_to 'Destroy', shift_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift assignment', new_shift_assignment_path %>
