<p id="notice"><%= notice %></p>

<p>
  <strong>Max hours:</strong>
  <%= @employee.max_hours %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @employee.disabled %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
