<%= form_for(@shift_exception) do |f| %>
  <% if @shift_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_exception.errors.count, "error") %> prohibited this shift_exception from being saved:</h2>

      <ul>
      <% @shift_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_datetime %><br>
    <%= f.datetime_select :start_datetime %>
  </div>
  <div class="field">
    <%= f.label :end_datetime %><br>
    <%= f.datetime_select :end_datetime %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :is_absence %><br>
    <%= f.check_box :is_absence %>
  </div>
  <div class="field">
    <%= f.label :shift_id %><br>
    <%= f.number_field :shift_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
