<p id="notice"><%= notice %></p>

<p>
  <strong>Start datetime:</strong>
  <%= @shift_exception.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @shift_exception.end_datetime %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @shift_exception.employee_id %>
</p>

<p>
  <strong>Is absence:</strong>
  <%= @shift_exception.is_absence %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @shift_exception.shift_id %>
</p>

<%= link_to 'Edit', edit_shift_exception_path(@shift_exception) %> |
<%= link_to 'Back', shift_exceptions_path %>
